@charset "ISO-8859-1";
body {
	font-family: "Trebuchet MS","Myriad Pro",Arial,sans-serif;
	background-color: #ffdfb1;
}

.top-menu-container {
	color: blue;
	font-family:narkisim;
}
.submitBtn {
	background-color: #4CAF50;
    display:block;	
    color: white;
    padding: 12px 20px;
    margin: 10px auto;	
    border: none;
    cursor: pointer;
}
/* Menu bar */
.menu {
    overflow: hidden;
    background-color: #333;
}

/* Navbar links */
.menu a {
    font-family: narkisim;
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
}

.menu .logo_img {
	height:100px;
  	width:100px;
}

.topnav {
	 position: relative;
	 margin-top: 42.5px;
	 float: right;
	 vertical-align: middle;
}

/* Links - change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
.elementsHeader {
    display: block;
    font-style: italic;
    font-size: 14px;
    align: left;
    padding: 10px 0px;
}

.submitBtn:hover {
    background-color: grey;
}

.floatRight {
	position: relative;
	float: right;
    padding-top: 14px;
}

.rememberMe {    
    display: block;
    float: left;
    padding-top: 20px;
    font-size: 14px;
}

.topSpace {
    margin-top:10px;
}

.container {
   	margin: 0 auto;
    /*font-family: "Arial",Sans-serif;*/
    width: 300px;
    height: 300px;
    padding: 20px;
    border: 2px solid #4CAF50;
}

.title {
	padding: 20px;
	font-size: 30px;
	color: green;
	text-align:center;
	font-family: narkisim;
}

.checkBoxDisplay {
	font-style: italic;
    font-size: 14px;
    align: left;
    padding: 10px 10px;
    /*display: block;*/
}

.inputTextBox {
	padding-top: 5px;
	padding-bottom: 5px;
}

.signUpContainer {
	margin: 0 auto;
   /* font-family: "Arial",Sans-serif;*/
    width: 350px;
    height: 1100px;
    padding: 20px;
    border: 2px solid #4CAF50;
}

.indivcheckbox .ui-chkbox-icon {
    display:block;
    background-position-x: -66px;
    background-position-y: -147px;
}

.indivcheckbox .ui-icon-check {
    width: 12px;
    height: 12px;
}

.loginContainer {
   	margin: 0 auto;
   	/*font-family: "Arial",Sans-serif;*/
    width: 300px;
    height: 300px;
    padding: 20px;
    border: 2px solid #4CAF50;
}


.btn-success {
	background-color: #4CAF50!important;
}

.productContainer {
	margin: 0 auto;
   /* font-family: "Arial",Sans-serif;*/
    width: 350px;
    height: 600px;
    padding: 20px;
    border: 2px solid #4CAF50;
}

.displayTable {
	font-family: "Trebuchet MS","Myriad Pro",Arial,sans-serif;
}

.order-table{
	border-collapse:collapse;
	margin: 0 auto;
}

.order-table-header{
	text-align:center;
	background:none repeat scroll 0 0 #E5E5E5;
	border-bottom:1px solid #BBBBBB;
	padding:16px;
}

.order-table-odd-row{
	text-align:center;
	background:none repeat scroll 0 0 #FFFFFFF;
	border-top:1px solid #BBBBBB;
}

.order-table-even-row{
	text-align:center;
	background:none repeat scroll 0 0 #F9F9F9;
	border-top:1px solid #BBBBBB;
}



